# Ignora a pasta de dependências
/node_modules

# Ignora a build de produção gerada pelo Vite
/dist

# Arquivos ocultos de sistemas operacionais
.DS_Store        # MacOS
Thumbs.db        # Windows

# Arquivos de ambiente (contêm chaves secretas, como o Supabase)
.env
.env.local
.env.*.local

# Logs de erros do npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de IDEs/editores (ex: VS Code, WebStorm, etc.)
.vscode
.idea/
